# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Env
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak

# Logs
*.log

# Temporary
*.tmp
*.temp

# Generated
/dist
/build

# Misc
*.zip
*.tar.gz
